name: Markdown style checks
on:
  push:
    branches:
    - main
    paths:
    - docs/**
  pull_request:
    branches:
    - '*'
    paths:
    - docs/**
jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: DavidAnson/markdownlint-cli2-action@v16
      with:
        config: docs/.sphinx/.markdownlint.json
